@import "components/globals.scss";

.login {
	&__logo {
		display: none;
	}
	&__button {
		width: 100%;
		margin-top: 20px;
		&--signup {
			width: 320px;
			margin-top: 56px;
		}
	}
	&__recovery-password {
		text-align: center;
		margin-top: 28px;
		font-size: $sm;
		font-weight: 500;
		color: $Hospital-green;
		text-decoration: none;
	}
}

@media (max-width: 640px) {
	.login {
		align-content: center;
		&__logo {
			display: block;
			width: 60%;
			max-width: 220px;
			justify-self: center;
		}
		&__logo img {
			width: 100%;
		}
		&__form {
			margin-top: 40px;
		}
		&__button--signup {
			width: 100%;
			margin-top: 72px;
		}
	}
}