@import "components/globals.scss";

.login {
	&__logo {
		display: none;
	}
	&__button {
		width: 100%;
		margin-top: 20px;
		&--signup {
			width: 320px;
			margin-top: 56px;
		}
	}
	&__recovery-password {
		text-align: center;
		margin-top: 24px;
		font-size: $sm;
		font-weight: 500;
		color: $Hospital-green;
		text-decoration: none;
	}
}

@media (max-width: 640px) {
	.login {
		&__logo {
			display: block;
			justify-self: center;
			width: 150px;
			margin-top: 40px;
		}
		&__logo img {
			width: 100%;
		}
		&__form {
			margin-top: 32px;
		}
		&__button {
			margin-top: 4px;
			&--signup {
				width: 100%;
				margin-top: 0;
				margin-bottom: 20px;
			}
		}
	}
}