@import "components/globals.scss";

.menu {
	position: absolute;
	top: 59px;
	right: 100px;
	width: 160px;
	padding: 32px;
	padding-top: 20px;
	border-radius: 0 0 20px 20px;
	background-color: $White;
	box-shadow: 2px 12px 20px -12px $Dark;
	&__icon-close {
		display: none;
	}
	& ul {
		display: flex;
		flex-direction: column;
		gap: 36px;
		width: 100%;
		list-style: none;
		margin-bottom: 40px;
	}
	& ul:nth-child(2) {
		display: none;
	}
	& ul a {
		text-decoration: none;
		color: Black;
		font-size: $md;
		font-weight: 700;
		list-style: none;
	}
	&__login {
		font-size: $sm;
		font-weight: 700;
		color: $Hospital-green;
		text-decoration: none;
	}
}

@media (max-width: 640px) {
	.menu {
		width: 100%;
		top: 53px;
		right: 0;
		border-radius: 0px;
		&__icon-close {
			position: absolute;
			right: 32px;
			cursor: pointer;
		}
		& ul:nth-child(2) {
			display: block;
			padding: 14px 0 40px;
			border-bottom: 1px solid $Very-light-pink;
		}
	}
}