@import "components/globals.scss";

.mobile-menu {
    padding: 40px 36px 0px;
}
.mobile-menu ul {
    width: 100%;
    list-style: none;
    display: inline-block;
    margin-bottom: 40px;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--Very-light-pink);
}
.mobile-menu ul:nth-child(1) li, .mobile-menu ul:nth-child(2) li {
    margin-bottom: 36px;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--Black);
    font-size: var(--md);
    font-weight: 700;
    list-style: none;
}
.mobile-menu .email {
    font-size: var(--sm);
}
.mobile-menu li .sign-out {
    color: var(--Hospital-green);
    font-size: var(--sm);
}