@import "components/globals.scss";

.orders-item {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	font-size: $md;
	font-weight: 700;
	margin-bottom: 24px;
	& p:nth-child(1) {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	&__articles {
		font-size: $sm;
		font-weight: 400;
		color: $Dark;
	}
	&__price {
		text-align: end;
		padding-right: 24px;
	}
	&__icon {
		cursor: pointer;
	}
}
