@import "components/globals.scss";

.product-item {
	width: 100%;
	&__img {
		width: 100%;
		height: 220px;
		border-radius: 16px;
		object-fit: cover;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		margin: 8px 2px 4px 4px;
	}
	&__price {
		font-size: $md;
		font-weight: bold;
		margin-bottom: 2px;
	}
	&__name {
		font-size: $sm;
		font-weight: 300;
	}
	&__add-to-car {
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
}

@media (max-width: 640px) {
	.product-card {
		width: 100%;
		&__img {
			height: 180px;
		}
		&__info {
			margin: 4px 0px 8px 4px;
		}
	}
}