@import "components/globals.scss";

.cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 24px;
	padding: 32px 50px;
}

@media (max-width: 640px) {
	.cards-container {
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		gap: 16px;
		padding: 0 20px;
	}
}