@import "components/globals.scss";

.product-detail {
	width: 360px;
	min-height: 590px;
	height: calc(100vh - 60px);
	position: absolute;
	right: 0;
	box-shadow: 0px 6px 8px 4px $Very-light-pink;
}

@media (max-width: 640px) {
	.product-detail {
		width: 100%;
		max-width: 640px;
		min-height: 514px;
		position: static;
		margin: 0 auto;
		box-shadow: none;
	}
}