<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito de compras</title>
        <link rel="shortcut icon" href="./assets/logos/favicon_bota_fora.svg" type="img">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/shopping_cart.css">
    </head>
    <body>
        <aside class="product-detail">
            <div class="tittle">
                <img src="./assets/icons/flechita.svg" alt="">
                <h1>Shopping cart</h1>
            </div>
            <div class="my-order-content">
                <div class="shopping-cart">
                    <img src="./assets/img/pexels-photo-276517 (mobile).jpeg" alt="bike">
                    <p>Bike</p>
                    <p>$ 30,00</p>
                    <img src="./assets/icons/icon_close.png" alt="Eliminar producto">
                </div>
                <div class="shopping-cart">
                    <img src="./assets/img/pexels-photo-276517 (mobile).jpeg" alt="bike">
                    <p>Bike</p>
                    <p>$ 30,00</p>
                    <img src="./assets/icons/icon_close.png" alt="Eliminar producto">
                </div>
                <div class="shopping-cart">
                    <img src="./assets/img/pexels-photo-276517 (mobile).jpeg" alt="bike">
                    <p>Bike</p>
                    <p>$ 30,00</p>
                    <img src="./assets/icons/icon_close.png" alt="Eliminar producto">
                </div>
                <div class="shopping-cart">
                    <img src="./assets/img/pexels-photo-276517 (mobile).jpeg" alt="bike">
                    <p>Bike</p>
                    <p>$ 30,00</p>
                    <img src="./assets/icons/icon_close.png" alt="Eliminar producto">
                </div>
            </div>
            <div class="total">
                <p>Total</p>
                <p>$ 180.00</p>
            </div>
            <button class="primary-button">Checkout</button>
        </aside>
    </body>
</html>