
$Hospital-green: #ACD9B2;
$White: #FFFFFF;
$Text-input-field: #F7F7F7;
$Very-light-pink: #C7C7C7;
$Dark: #232830;
$Black: #000000;
$Font-primary: 'Quicksand', sans-serif;
$Font-secondary: 'Roboto', sans-serif;
$sm: 14px;
$md: 16px;
$lg: 18px;